<nav class="lighten-2 red">
    <div class="nav-wrapper">
        <span class="brand-logo hide-on-med-and-down">Minesweeper</span>
        <ul id="nav-mobile" class="right">
            <li>
                Rows:
            </li>
            <li>
                <form>
                    <input min="5" max="100" type="number" class="white black-text">
                </form>
            </li>
            <li>
                <span>Cols:</span>
            </li>
            <li>
                <form>
                    <input min="5" max="100" type="number" class="white black-text">
                </form>
            </li>
            <li><a class="btn-large darken-4 red">New Game</a></li>
        </ul>
    </div>
</nav>