<div class="container">
    <h2>Instructions</h2>
    <p>
        Simple Minesweeper JS game using Angular2.
        You win, when you reveal all fields/boxes without bomb.
        You lose when reveal at least one field/box with bomb.
        Have fun, or maybe not :-D. 
    </p>
    <dl>
        <dt><strong>Used libraries:</strong></dt>
        <dd>
            <ul>
                <li>Angular2</li>
                <li>MaterializeCSS (only CSS)</li>
                <li>AnimateCSS (only CSS)</li>
            </ul>
        </dd>
        <dt><strong>Author:</strong></dt>
        <dd>Filip Gulan</dd>
        <dt><strong>Mail:</strong></dt>
        <dd>raipergm34@gmail.com</dd>
    </dl>
</div>