<nav class="cyan">
    <div class="nav-wrapper">
        <span class="brand-logo hide-on-med-and-down">&nbsp;Minesweeper</span>
        <ul id="nav-mobile" class="right">
            <li><a routerLink="/" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="cyan darken-1"><i class="material-icons left">games</i> Game</a></li>
            <li><a routerLink="/settings" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="cyan darken-1"><i class="material-icons left">settings</i> Settings</a></li>
            <li><a routerLink="/instructions" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="cyan darken-1"><i class="material-icons left">info</i> Instructions</a></li>
        </ul>
    </div>
</nav>